#calendar {
    width: 100%;
    height: 800px;
    font-size: 15px;
    table-layout: fixed;
}

#calendar tbody td.today {
    background: red;
    color: #fff;
}

#header {
    margin-bottom: 20px;
}

#header * {
    display: inline-block;

}

#header h2 {
    margin-bottom: 0;
    height: 30px;
    vertical-align: bottom;
    width: 220px;
    text-align: center;
}
